<div class="hero-unit">
        <h1> <span style="color: red"> Hi!</span> </h1>
        <p>My name is St&eacute;phane Adam Garnier. I 'm a freelancer enjoying graphism, development but also interactivity and object/product design. And yup, i recently managed to get some time left for motiongraphics ...   </p>
        <h3> <span style="color: red"> so watchout Neos, I may be coming!</span> </h3>
</div>
