<form action="/bonjour" method="post" accept-charset="utf-8">
	<input type="text" name="prenom" placeholder="Prenom">
	<input type="text" name="age" placeholder="Age">
    <input class="xlarge disabled" type="text" placeholder="Lorem ipsum dolor sit amet" disabled />
	<input type="submit" value="Envoyer">
</form>