<div class="clearfix">
<h1> Welcome to my git <%= params[:prenom] %> , </h1>
<h1> make yourself comfortable and have it your way... </h1>
</div>
<div class="row">
    <div class="span6">
        <h1>Column #1</h1>
        <p>Content for column #1.</p>
    </div>
    <div class="span5">
        <h1>Column #2</h1>
        <p>Content for column #2.</p>
    </div>
    <div class="span5">
        <h1>Column #3</h1>
        <p>Content for column #3.</p>
    </div>
</div>

<h2> This website does not promote or contribute to hacking in general, its purpose is learning things the way they built themselves, freely. </h2>
<h2> And I do hope it will provide some useful help to anyone digging in deeply. </h2>